*
/*reset default margins and padding*/
/* 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

nav {
  background-color: #007BFF;
  padding: 10px;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-nav a:hover {
  background-color: #0056b3;
}

section {
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 10px;
}

form,
.form-control,
.form-label,
.form-select {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* Ensures borders between cells are merged */
  margin-top: 20px;
  /* Adds space above the table */
  background-color: #fff;
  /* Matches the section background color */
}

th,
td {
  padding: 12px;
  /* More padding for a better visual appeal */
  border: 1px solid #ddd;
  /* Light grey border for a subtle look */
  text-align: left;
  /* Aligns text to the left, modify as needed */
  color: #333;
}

th {
  background-color: #007BFF;
  /* Header matches navbar background */
  color: #fff;
  /* Text color for headers is white */
  font-size: 16px;
  /* Matches form element font size for consistency */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Zebra striping for rows */
}


table button {
  background-color: #007BFF;
  /* Matches button colors elsewhere */
  color: #fff;
  cursor: pointer;
}

table button:hover, .button:hover{
  background-color: #0056b3;
  /* Darker blue on hover for buttons */
}

input,
input[type="date"],
input[type="email"],
button,
.button-stylesf,
select,
.inputs-custom {
  width: 100% !important;
  padding: 12px !important;
  border: 2px solid #ddd !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  margin-top: 6px !important;
  transition: border-color 0.3s ease !important;
}

input:focus,
select:focus,
button:hover {
  border-color: #007BFF;
}


input[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}


footer {
  background-color: #007BFF;
  padding: 20px;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  section {
    margin: 20px 10px;
  }
}

#deliverablesModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* High z-index to be on top of other content */
}

#deliverablesModal>div {
  background: white;
  margin: 100px auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}